<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!--
   Core web app setup
    -->
	<bean id="webApplication" class="it.geosolutions.figis.client.IEApplication">
	</bean>

	<bean id="wicket"
		class="org.springframework.web.servlet.mvc.ServletWrappingController"
		lazy-init="true">
		<property name="servletClass">
			<value>org.apache.wicket.protocol.http.WicketServlet</value>
		</property>
		<property name="servletName">
			<value>wicket</value>
		</property>
		<property name="initParameters">
			<props>
				<!--
					either development on deployment, make sure you set it to
					deployment before releasing!
				-->
				<prop key="configuration">development</prop>
				<!--prop key="configuration">deployment</prop-->
				<prop key="applicationClassName">it.geosolutions.figis.client.IEApplication</prop>
				<prop key="applicationFactoryClassName">org.apache.wicket.spring.SpringWebApplicationFactory</prop>
			</props>
		</property>
	</bean>

	<bean id="webDispatcherMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping"
		lazy-init="true">
		<property name="alwaysUseFullPath" value="true" />
		<property name="mappings">
			<props>
				<prop key="/web">wicket</prop>
				<prop key="/web/**">wicket</prop>
				<prop key="/web/resources/**">wicket</prop>
			</props>
		</property>
	</bean>

	<bean id="menuCategoryServer" class="it.geosolutions.figis.client.IECategory">
		<property name="nameKey" value="category.title" />
		<property name="order" value="100" />
	</bean>
	
	<bean id="menuCategoryDownload" class="it.geosolutions.figis.client.IECategory">
		<property name="nameKey" value="categoryDownload.title" />
		<property name="order" value="200" />
	</bean>

	<bean id="sourceAndTargetMenuPage" class="it.geosolutions.figis.client.IEMenuPageInfo">
		<property name="id" value="sourceAndTarget.server.page" />
		<property name="titleKey" value="SourceAndTarget.title" />
		<property name="descriptionKey" value="SourceAndTarget.description" />
		<property name="componentClass"
			value="it.geosolutions.figis.client.admin.SourceAndTarget" />
		<property name="category" ref="menuCategoryServer" />
		<property name="icon" value="../img/sourceAndTarget.png" />
		<property name="order" value="10" />
	</bean>

	<bean id="downloadMenuPage" class="it.geosolutions.figis.client.IEMenuPageInfo">
		<property name="id" value="downloadMenuPage.server.page" />
		<property name="titleKey" value="IEDownloadManager.title" />
		<property name="descriptionKey" value="IEDownloadManager.description" />
		<property name="componentClass"
			value="it.geosolutions.figis.client.IEDownloadManager" />
		<property name="category" ref="menuCategoryDownload" />
		<property name="icon" value="img/combinations.png" />
		<property name="order" value="20" />
	</bean>

</beans>