<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-init-method="init" default-destroy-method="dispose">

	<!-- Environment Initialization -->
	<bean id="SettingGeneratorService" class="it.geosolutions.geobatch.figis.setting.SettingGeneratorService">
		<constructor-arg type="String"><value>SettingGeneratorService</value></constructor-arg>
		<constructor-arg type="String"><value>SettingGeneratorService</value></constructor-arg>
		<constructor-arg type="String"><value>SettingGeneratorService</value></constructor-arg>
	</bean>
	<bean id="SettingAliasRegistrar" class="it.geosolutions.geobatch.figis.setting.SettingAliasRegistrar" lazy-init="false">
		<constructor-arg ref="aliasRegistry" />
	</bean>
</beans>
