<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-init-method="init" default-destroy-method="dispose">

	<!-- Environment Initialization -->	
	<bean id="VMEIngestionGeneratorService" class="org.fao.fi.vme.geobatch.VMEIngestionGeneratorService">
		<constructor-arg type="String"><value>VMEIngestionGeneratorService</value></constructor-arg>	
	</bean>
	
	<bean id="VMEIngestionAliasRegistrar" class="org.fao.fi.vme.geobatch.VMEIngestionAliasRegistrar" lazy-init="false">
		<constructor-arg ref="aliasRegistry" />
	</bean>
</beans>
