<?xml version="1.0" encoding="UTF-8"?>


<!-- <beans default-init-method="init" default-destroy-method="dispose" default-autowire="byName">  -->


<!-- 
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
       default-init-method="init" default-destroy-method="dispose" default-autowire="byName">


	<bean id="IntersectionEngineDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	    <property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
	    <property name="url" value="jdbc:hsqldb:data/intersectionengine"/>
	    <property name="username" value="sa"/>
	    <property name="password" value=""/>
  	</bean>  
  	
   	<bean id="IntersectionEngineSessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
  		<property name="packagesToScan" value="it.geosolutions.geobatch.figis.intersection.model"/>
	    <property name="dataSource" ref="IntersectionEngineDataSource"/>
	    <property name="hibernateProperties">
	      <value>
	        hibernate.dialect=org.hibernate.dialect.HSQLDialect
	        hibernate.show_sql=false
	      	hibernate.hbm2ddl.auto=create
	      </value>
	    </property>
	</bean>     
	    

 	
 	
 	
  			
</beans>

 -->
 

<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans 
                http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context-2.5.xsd">

        <context:annotation-config />

        <import resource="applicationContext-datasource.xml" />

        <!--**** Revere Group DAO Setup ****-->
        <!--
                Need one search processor and one metadata util per persistence unit
                (i.e. EntityManagerFactory). We're wiring these to the Generic DAOs
                using an autowire annotation in BaseDAO.
        -->



		<bean id="ie-searchProcessor" class="com.trg.search.jpa.JPASearchProcessor">
		  <constructor-arg ref="ie-metadataUtil" />
		 </bean>
		
		 <bean id="ie-metadataUtil" class="com.trg.search.jpa.hibernate.HibernateMetadataUtil"
		  factory-method="getInstanceForEntityManagerFactory">
		  <constructor-arg ref="ie-entityManagerFactory" />
		 </bean>




        <bean id="ie-configDAO" class="it.geosolutions.geobatch.figis.intersection.dao.daoImpl.ConfigDaoImpl" />
        <bean id="ie-intersectionDAO" class="it.geosolutions.geobatch.figis.intersection.dao.daoImpl.IntersectionDaoImpl" />
        


</beans>
 
