body {
    font-family:Tahoma;
    font-size:12px;
}

#title {
           color : #036;
         display : block;
       font-size :  24px;
      font-style : normal;
     font-weight : bold;
            left : 0.5em;
          margin : 0;
         padding : 0;
     text-shadow : #CCC   2px   2px   2px;
             top : 0.5em;
}

#top {
       background-repeat : no-repeat;
                   color : rgb(11, 50, 93);
                   float : left;
               font-size :  25px;
                  height : 120px;
             text-shadow : rgb(204, 204, 204)   2px   2px   2px;
          vertical-align : bottom;
                  /*width : 1024px;*/
                  width : 800px;
}

#topBar {
        background-color : rgb(51, 102, 153);
                   clear : both;
                   color : white;
               font-size :  12px;
              margin-top :  10px;
           padding-right :  10px;
              text-align : right;
              height:  15;
}

#info {
                   clear : both;
                   color : white;
               font-size :  12px;
              margin-top :  10px;
           /*padding-right :  10px;*/
              text-align : left;
              height:  20;
}

#ext-main {
           padding-top :  10px;
}

#smalltext {
          color: #000000;
         display : block;
         font-family: Arial, Helvetica, Verdana, sans-serif;
       font-size :  12px;
      font-style : normal;
     font-weight : normal;
            left : 0.5em;
          margin : 0;
         /*padding :   0px  10px;*/
             top : 0.5em;
}

#wrapper {
                  margin : 0  auto;
                  text-align : left;
                  /*width : 1024px;*/
                  width : 800px;
}

#bottomBar1 {
        background-color : rgb(51, 102, 153);
                   clear : both;
                   color : white;
               font-size :  12px;
             line-height : 1.5em;
              margin-top :  10px;
              text-align : right;
}

#bottomBar1 a,
#bottomBar1 a:visited {
                   color : #fff;
}
#bottomBar1 a:hover,
#bottomBar1 a:active {
                   color : #f90;
}
#bottomBar2 {
            border-color : #693;
            border-right : 0 solid #693;
            border-style : solid;
            border-width :   1px 0 0;
                   clear : both;
                  height :   1px;
           margin-bottom :  30px;
              margin-top :   1px;
}
#disclaimer {
                   clear : both;
               font-size :  12px;
             padding-top :  20px;
                   width : 100%;
}
#disclaimer p {
                 /*padding :   0px  10px;*/
                 font-family: Arial, Helvetica, Verdana, sans-serif;
}

.no-border{
    border:0px none white;
    vertical-align:top;
}

fieldset
{
    border:1px solid black;
    padding:5px;
}

a:link, a:hover, a:active { color: blue; }

.headtext {
    color: #093999;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    
    /*color: #003366;
    display: block;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    left: 0.5em;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 2px #CCCCCC;
    top: 0.5em;
	  border-bottom:12px solid #336699;
	  margin: 0 0 10px 0;
	  padding:8px 0;
	  height:40px;
	  width:800px;*/
}

.reftopmenu {
color: black;
font-family: Arial, Helvetica, Verdana, sans-serif;
font-size: 8pt;
font-weight: normal;
}

#bottomBar1 {
    background-color: #369;
    clear: both;
    color: white;
    float: right;
    font-size: 12px;
    line-height: 1.5em;
    margin-top: 10px;
    text-align: right;
    width: 100%;
}

.gfi {
	font-family : Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size :	12px;
	font-style :normal;
	color :#4E4E4E;
}

.dynDiv_moveDiv {
 position: absolute;
 overflow: hidden;
}

.dynDiv_resizeDiv_tl,.dynDiv_resizeDiv_tr,.dynDiv_resizeDiv_bl,.dynDiv_resizeDiv_br {
 width: 10px;
 height: 20px;
 background-image:url('/figis/images/dynDiv_resize.gif');
 position: absolute;
 z-index: 10000;
}

.dynDiv_resizeDiv_tl {
 top: -1px;
 left: -1px;
}

.dynDiv_resizeDiv_tr {
 top: -1px;
 right: -1px;
}

.dynDiv_resizeDiv_bl {
 bottom: -1px;
 left: -1px;
}

.dynDiv_resizeDiv_br {
 bottom: -1px;
 right: -1px;
}

.dynDiv_moveParentDiv {
 width: 100%;
 margin: auto;
 height: 16px;
 font-size: 15px;
 position: absolute;
 top: -1px;
 left: -1px;
 background: #faa;
 border: 1px solid #aaa;
 border-left: 0;
 border-right: 0;
 padding: 0;
 overflow: hidden;
 white-space:nowrap;
}

.dynDiv_minmaxDiv {
 position: absolute;
 top: 1px;
 right: 15px;
 width: 15px;
 height: 15px;
 background: #faa;
 font-size: 15px;
 padding: 0;
 margin: 0;
} 

.quarter-max-button{
    background-image: url(./images/control_play_blue_retation_up.png) !important;
}

.quarter-min-button{
    background-image: url(./images/control_play_blue_down.png) !important;
}

.year-min-littlestep{
    background-image: url(./images/control_play_blue_retation.png) !important;
}

.year-min-largestep{
    background-image: url(./images/control_rewind_blue.png) !important;
}

.year-max-littlestep{
    background-image: url(./images/control_play_blue.png) !important;
}

.map-button-img{ 
    background-image: url(./images/map_go.png) !important;
}

.print-button-img{ 
    background-image: url(./images/printer.png) !important;
}

.year-max-largestep{
    background-image: url(./images/control_fastforward_blue.png) !important;
}

.first-year{
    background-image: url(./images/first_year.png) !important;
}

.last-year{
    background-image: url(./images/last_year.png) !important;
}

.animation-tab{
    background-image: url(./images/clock_edit.png) !important;
}

.controls-tab{
    background-image: url(./images/cog_edit.png) !important;
}

.animation-button{
    background-image: url(./images/clock_play.png) !important;
}

.amination-win{
    background-image: url(./images/clock.png) !important;
}

.map-info{
    background-image: url(./images/information.png) !important;
}

select{
    background-image: none;
    font-family: Verdana;
    font-style: normal;
    font-size: 12px;
    color: #000000;
    border-color:#C5DAF0;
    border-style: solid;
    border-width: 1px;
    background-color: #FFFFFF;
    width: 182px;
}
 
.olControlScaleLine {
   display: block;
   position: absolute;
   left: 10px;
   bottom: 20px;
   font-size: xx-small;
}

.olControlScaleLineBottom {
   border: solid 2px black;
   border-bottom: none;
   margin-top:-2px;
   text-align: center;
}

.olControlScaleLineTop {
   border: solid 2px black;
   border-top: none;
   text-align: center;
}
/**
 * Layer switcher
 */

.olControlLayerSwitcher {
    position: absolute;
    top: 25px;
    right: 0px;
    width: 20em;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: smaller;
    color: white;
    background-color: transparent;
}

.olControlLayerSwitcher .layersDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 75px;
    background-color: darkblue;
    width: 100%;
    height: 100%;
}

.olControlLayerSwitcher .layersDiv .baseLbl,
.olControlLayerSwitcher .layersDiv .dataLbl {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.olControlLayerSwitcher .layersDiv .baseLayersDiv,
.olControlLayerSwitcher .layersDiv .dataLayersDiv {
    padding-left: 10px;
}

.labelSpan{
    padding-left: 5px;
}

.olControlLayerSwitcher .maximizeDiv,
.olControlLayerSwitcher .minimizeDiv {
    top: 5px;
    right: 0px;
}

.olControlMousePosition {
    bottom: 0.4em;
    display: block;
    font-family: Arial;
    font-size: 11;
    position: absolute;
    background: #ffffff;
    left: 10px;
}
.olControlPanPanel {
    top: 10px;
    left: 5px;
}  

.olControlPanPanel div {
    background-image: url(lib/OpenLayers-2.10/theme/default/img//pan-panel.png);
    height: 18px;
    width: 18px;
    cursor: pointer;
    position: absolute;
}

.olControlPanPanel .olControlPanNorthItemInactive {
    top: 0px;
    left: 9px;
    background-position: 0px 0px;
}

.olControlPanPanel .olControlPanSouthItemInactive {
    top: 36px;
    left: 9px;
    background-position: 18px 0px;
}

.olControlPanPanel .olControlPanWestItemInactive {
    position: absolute;
    top: 18px;
    left: 0px;
    background-position: 0px 18px;
}

.olControlPanPanel .olControlPanEastItemInactive {
    top: 18px;
    left: 18px;
    background-position: 18px 18px;
}

.olControlZoomPanel {
    top: 71px;
    left: 14px;
} 

.olControlZoomPanel div {
    background-image: url(lib/OpenLayers-2.10/theme/default/img/zoom-panel.png);
    position: absolute;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.olControlZoomPanel .olControlZoomInItemInactive {
    top: 0px;
    left: 0px;
    background-position: 0px 0px;
}

.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    top: 18px;
    left: 0px;
    background-position: 0px -18px;
}

.olControlZoomPanel .olControlZoomOutItemInactive {
    top: 36px;
    left: 0px;
    background-position: 0px 18px;
}

.olPoweredBy {
    color: Blue;
    display: block;
    font-size: 12px;
    font-style: normal;
    opacity: 0.7;
    position: absolute;
    z-index: 1000;
}

.olHandlerBoxZoomBox {
    border: 2px solid red;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}

#quarter-min-field {
    padding-bottom: 0;
    padding-left: 1;
    padding-top: 0;
    padding-right: 0;
}
#quarter-max-field {
    padding-bottom: 0;
    padding-left: 1;
    padding-top: 0;
    padding-right: 0;
}
